# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.gradle/7.1.1/executionHistory/executionHistory.bin
.gradle/7.1.1/executionHistory/executionHistory.lock
.gradle/7.1.1/fileHashes/fileHashes.bin
.gradle/7.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/tmp/compileJava/previous-compilation-data.bin